html { font-size: 10px;
font-family: Helvetica, Arial, sans-serif; }

header, main { padding: 2rem; 
    color:chocolate;
background-color:azure;
text-align: center;
    text-decoration-color: coral;
    
}
body {
   
    background-color:white;
    
}
h1 { font-size: 4.8rem; }

section { font-size: 5rem;
    font-display:block
padding-bottom: 5rem;
    color:darkred;
    background-color:cornsilk;
    border-bottom-color:chartreuse;
    border-bottom-style: solid;
    border-bottom-width: 2rem;
    
}
div {
    font-style: normal;
    font-size: 8rem;
    color:darkblack;
    text-align: center;
    text-emphasis:bold;
    text-underline-position: below;
}



li { font-size: 2.6rem; }

li { line-height: 1.5; }

a:link { color: #e60000; }

a:visited { color:#b300b3; }

a:hover { color: #cc3300; background-color: #ebebe0; text-decoration: none; }

a:active { color: #ebebe0; background-color: #cc3300; text-decoration: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; 
}

li {float: left;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

    
}

footer {
    background-color: darkgrey;
    text-align: right;
    font-size: 2rem;
    border-bottom-color: floralwhite;
    border-bottom-width: .7rem;
    border-bottom-style: solid;
    color:black;
}

 



img {
  display: block;
  margin: 0 auto;
  transform: rotate(90deg);
    backface-visibility: hidden;
    
    
}




